<div class="list row">
  <div class="col-md-8">
  </div>
</div>
<div class="col-md-6">
  <h4>Managers List</h4>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let manager of managers; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveManager(manager, i)"
    >
      {{ manager.firstName}} {{ manager.lastName}}
    </li>
  </ul>
</div>
<div class="col-md-6">
  <div *ngIf="currentManager.id">
    <h4>Details</h4>
    <div>
      <label><strong>Id:</strong></label> <a href="{{this.router.url}}/id/{{currentManager.id}}"> {{ currentManager.id}} </a>
    </div>
    <div>
      <label><strong>First name:</strong></label> {{ currentManager.firstName }}
    </div>
    <div>
      <label><strong>Last name:</strong></label>
      {{ currentManager.lastName }}
    </div>
    <div>
    <a  href="/restaurants/manager/{{currentManager.id}}/" routerLink="/restaurants/manager/{{currentManager.id}}" >Restaurants </a>
    </div>
    <div>
      <label><strong>email:</strong></label> {{ currentManager.email }}
    </div>
  </div>
  <div *ngIf="!currentManager">
    <br/>
    <p>Please click on a Manager...</p>
  </div>
</div>




