<div class="list row">
  <div class="col-md-8">
  </div>
</div>
<div class="col-md-6">
  <h4>Restaurants List</h4>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let restaurant of restaurants; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveRestaurant(restaurant, i)"
    >
      {{ restaurant.name}}
    </li>
  </ul>
</div>
<div class="col-md-6">
  <div *ngIf="currentRestaurant">
    <h4>Restaurant</h4>
    <div>
      <label><strong>Id:</strong></label> <a href="{{this.router.url}}/id/{{currentRestaurant.id}}"> {{ currentRestaurant.id }} </a>
    </div>
    <div>
      <label><strong>Name:</strong></label> {{ currentRestaurant.name }}
    </div>
    <div>
      <label><strong>Address:</strong></label>
      {{ currentRestaurant.address }}
    </div>
  </div>
  <div *ngIf="!currentRestaurant">
    <br/>
    <p>Please click on a Restaurant to see its details...</p>
  </div>
</div>

