<div>
  <nav class="navbar navbar-expand navbar-light bg-light">

    <a class="navbar-brand" href="/">Zriba</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div ngbDropdown class="d-inline-block col-md-1 col-xs-12">
      <div id="dropdownRestaurant" ngbDropdownToggle>Restaurants</div>
      <div ngbDropdownMenu aria-labelledby="dropdownRestaurant">
        <button routerLink="restaurants" ngbDropdownItem>List</button>
        <button routerLink="restaurants/add" ngbDropdownItem>Add new restaurant</button>
      </div>
    </div>

    <div ngbDropdown class="d-inline-block col-md-1 col-xs-12">
      <div id="dropdownProduct" ngbDropdownToggle>Products</div>
      <div ngbDropdownMenu aria-labelledby="dropdownProduct">
        <button routerLink="products" ngbDropdownItem>List</button>
        <button routerLink="products/add" ngbDropdownItem>Add new product</button>
      </div>
    </div>

  </nav>
  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</div>
