<div class="list row">
  <div class="col-md-8">
  </div>
</div>
<div class="col-md-6">
  <h4>Products List</h4>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let product of products; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveProduct(product, i)"
    >
      {{ product.name}}
    </li>
  </ul>
</div>
<div class="col-md-6">
  <div *ngIf="currentProduct">
    <h4>Product</h4>
    <div>
      <label><strong>Id:</strong></label> <a href="{{this.router.url}}/id/{{currentProduct.id}}"> {{ currentProduct.id }} </a>
    </div>
    <div>
      <label><strong>Name:</strong></label> {{ currentProduct.name }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentProduct.description }}
    </div>
    <div>
      <label><strong>Price:</strong></label> {{ currentProduct.price }}
    </div>
    <div>
      <label><strong>Score:</strong></label> {{ currentProduct.score }}
    </div>
  </div>
  <div *ngIf="!currentProduct">
    <br/>
    <p>Please click on a Product...</p>
  </div>
</div>


